body {
    font-family: 'Lora', serif;
    margin: 0;
    
   }
   
   h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }
  .hero {
       background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/backgrounds/h_img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
   
    }
   
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
    }
    .hero p {
        text-transform: uppercase;
        font-size: 0.75em;
    }
    .hero h1 {
        font-weight: bold;
    }
    .about {
        text-align: center;
        line-height: 200%;
    }
    p {
        font-size: 14px;
    }
    .vision {
     
        position: relative;
        /* max-width: 800px; */
        margin: 0 auto;
    
    }
     .vision .content {
        position: absolute;
        text-align: center;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        font-size: 12px;
        padding: 20px;
        padding-bottom: 100px;
        line-height: 150%;
        
    }
    .services {
        text-align: center;
        margin-top: 20px;
    }
    .writeup {
        font-size: 13px;
        text-align: justify;
    }